#background-image {
  //    position: relative;

  img {
    border: none;
    position: relative;
  }

  .back {
    position: relative;
    top: -270px;
    
    z-index: 1;
    // left: 35px;
    h3 {
      display: inline-block;
      background-color: #fff;
      font-size: 20px;
      padding: 10px;
    }

    p {
        width: fit-content;
      padding: 10px;
      background-color: #fff;
    }

    button {
      display: inline-block;
      background-color: #fff;
      padding: 10px;
      width: 150px;
      font-weight: bold;
      border: 1px solid black;

      &:hover {
        color: gray;
      }

        
        a{
          text-decoration: none;
          color: $black-color;
        }
      
    }
  }
}

@media(max-width:850px){
    #background-image{
        img{
            height: 600px;
        }
    }
}

@media(max-width:550px){
    #background-image{
        .back{
            text-align: center;
            p{
                width: 400px;
                text-align: center;

            }
        }
    }
}